body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    color: white;
    background-color: #1D3557;
}

.div-color {
    
}

textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #A8DADC;
    border-left: 1px solid #A8DADC;
    padding: 10px;
}



.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid #A8DADC;
}

.description {
    white-space: pre-wrap;
}

.time-block {
    text-align: center;
    border-radius: 3px;
}

.row {
    justify-content: center;
    vertical-align: middle;

}

.hour {
    background-color: #A8DADC;
    color: #A8DADC;
    border-top: 1px dashed #A8DADC;
}

.past {
    background-color:#E63946;
    color: white;
}

.present {
    background-color: #A8DADC;
    color: white;
}

.future {
    background-color: #457B9D;
    color: white;
}

.saveBtn {

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #457B9D;
    color: #F1FAEE;
}

.saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
}



/* .time-text {
    font-size: 12px;
} */

.margin-custom {
    padding-bottom: 5px;
    justify-content: center;

}  
